html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 100%;
  color: @black;
}

.page-wrapper {
  margin: 0 10px;
}

.title {
  text-align: center;
}

.details {
  margin-bottom: 10px;
}

.details__summary {
  margin-bottom: 10px;
  padding-left: 10px;
  cursor: pointer;

  &::marker {
    position: absolute;
    left: 0;
  }
}

.details__content {
  padding-left: 10px;
}

.details__list {
  max-height: 400px;
  overflow-y: scroll;
}

.raw {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.css {
  margin-bottom: 30px;
  border: solid 1px silver;
}

.css__header {
  .fontcalculate(18);
  .clearfix;
  padding: 10px;
  background: silver;
  font-weight: bold;
  cursor: pointer;
  word-wrap: break-word;
}

.css__name {
  display: block;
}

.css__filesize {

}

.css__warnings {

}

.css__content {
  padding: 10px;
  word-wrap: break-word;
}

.debug {
  word-wrap: break-word;
  .fontcalculate(14);
}

@media @tabletWidth{
}

@media @mobileWidth{
}
