<!DOCTYPE html>
<html lang="en" id="site" class="nojs">
<head>
<!--[if lt IE 9]>
  <script src="static/bower_components/html5shiv/dist/html5shiv.min.js"></script>
<![endif]-->
<title>CSS Evaluator</title>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="static/css/styles.min.css"/>
<script>
  /* we want to remove the nojs class as soon as possible on page load */
  document.getElementById('site').className = document.getElementById('site').className.replace(/nojs/i,'');
</script>
</head>

<body>
  <div data-ng-app="cssquality" data-ng-controller="cssController as c" data-ng-init="init()" id="c" class="container jsenabled">
    <h1 class="title">CSS Evaluator {{ test }}</h1>

    <form id="website-form" class="form">
      <label for="website-url">Enter a URL to analyse the CSS on that site:</label>
      <input type="text" id="website-url" class="form__input"/>
      <button type="submit" id="website-submit" class="btn" data-ng-click="submitForm()">Submit</button>
    </form>
    <!-- <input type="file" id="file"/> -->

    <div data-ng-if="hasRun">
      Found {{ cssFiles.length }} CSS files totalling {{ cssFilesSize }} KiB. Some of these files may not be included in page load (why not?).
    </div>

    <div data-ng-repeat="f in cssFiles">
      <section class="details js-toggle">
        <div class="details__header js-toggle-link">
          {{ f.title }}<br/>
          Found {{ f.warnings.length }} warnings.
        </div>

        <div class="details__content js-toggle-content">
          {{ f.url }} <br/>

          {{ f.isMinified ? 'CSS appears to be minified' : 'CSS does not appear to be minified'}}
          <br/>

          {{ f.fileType }} <br/>
          {{ f.noLines }} lines long <br/>
          Number of declarations is {{ f.noClassDeclarations }}<br/>
          Longest class declaration is {{ f.longestDeclaration }}<br/>

          <div data-ng-repeat="l in f.longestClasses track by $index">
            {{ l }}<br/>
          </div>

          Warnings
          <div data-ng-repeat="warning in f.warnings">
            {{ warning.title }} <br/>
            {{ warning.detail }} <br/>
          </div>

          <h2>Debug</h2>
          <p data-ng-hide="1">{{ f.debug }}</p>


          <h2>Raw</h2>
          <p data-ng-hide="1">{{ f.rawCss }}</p>
        </div>
      </section>
    </div>
  </div>

  <div class="container jsdisabled">
    <h1 class="title">Sorry, but you must enable JavaScript to use this site</h1>
  </div>

  <script src="static/bower_components/angular/angular.min.js"></script>
  <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="static/js/main.min.js"></script>
</body>
</html>
