<!DOCTYPE html>
<html lang="en" id="site" class="nojs">
<head>
<!--[if lt IE 9]>
  <script src="static/bower_components/html5shiv/dist/html5shiv.min.js"></script>
<![endif]-->
<title>CSS Evaluator</title>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="static/css/styles.min.css"/>
<script>
  /* we want to remove the nojs class as soon as possible on page load */
  document.getElementById('site').className = document.getElementById('site').className.replace(/nojs/i,'');
</script>
</head>

<body>
  <div data-ng-app="cssquality" data-ng-controller="cssController as c" id="c" class="container jsenabled">
    <h1 class="title">CSS Evaluator {{ test }}</h1>

    <form id="website-form" class="form">
      <label for="website-url">Enter a URL to analyse the CSS on that site:</label>
      <input type="text" id="website-url" class="form__input"/>
      <button type="submit" id="website-submit" class="btn" data-ng-click="submitForm()">Submit</button>
    </form>
    <!-- <input type="file" id="file"/> -->

    <div data-ng-if="hasRun">
      <p>Found {{ cssFiles.length }} CSS file<span data-ng-show="f.noLines > 1">s</span> totalling {{ cssFilesSize }} KiB. Some files may not be included in page load (<a data-ng-click="showWhyNot = !showWhyNot">why not?</a>).</p>

      <p data-ng-show="showWhyNot">This tool analyses any CSS files in the source of the page it is given and ignores browser conditional comments. It does not analyse any CSS that is inline or loaded dynamically.</p>
    </div>

    <div data-ng-repeat="f in cssFiles">
      <section class="css">
        <div class="css__header" data-ng-click="f.showAll = !f.showAll">
          <span class="css__name">{{ f.title }}</span>
          <span class="css_filesize">{{ f.fileSize }} KiB</span>
          <span class="css_warnings">Found {{ f.warnings.length }} warning<span data-ng-show="f.warnings.length > 1 || f.warnings.length == 0">s</span></span>
        </div>

        <div class="css__content" data-ng-show="f.showAll">
          <p><a href="{{ f.url }}" target="_blank">View original</a></p>
          <p>{{ f.noLines }} line<span data-ng-show="f.noLines > 1">s</span> long</p>

          <p>Number of declarations is {{ f.noClassDeclarations }}</p>
          <p>Longest class declaration is {{ f.longestDeclaration }}</p>
          <a data-ng-click="f.showLongestDeclarations = !f.showLongestDeclarations">Show</a>

          <ul class="standard" data-ng-show="f.showLongestDeclarations">
            <li data-ng-repeat="l in f.longestClasses track by $index">
              {{ l }}
            </li>
          </ul>

          <h2>{{ f.warnings.length }} Warnings</h2>
          <div data-ng-repeat="warning in f.warnings">
            <p>{{ warning.title }}</p>
            <a data-ng-if="warning.explain.length"
              data-ng-click="warning.showExplain = !warning.showExplain">
              <span data-ng-show="!warning.showExplain">Show explanation</span>
              <span data-ng-show="warning.showExplain">Hide explanation</span>
            </a>
            <a data-ng-if="warning.details.length"
              data-ng-click="warning.showDetails = !warning.showDetails">
              <span data-ng-show="!warning.showDetails">Show details</span>
              <span data-ng-show="warning.showDetails">Hide details</span>
            </a>

            <p data-ng-show="warning.showExplain">
              {{ warning.explain }}
            </p>

            <ul class="standard" data-ng-show="warning.showDetails">
              <li data-ng-repeat="d in warning.details track by $index">
                {{ d }}
              </li>
            </ul>
          </div>

          <h2>Raw</h2>
          <pre class="raw">{{ f.rawCss }}</pre>
        </div>
      </section>
    </div>
  </div>

  <div class="container jsdisabled">
    <h1 class="title">Sorry, but you must enable JavaScript to use this site</h1>
  </div>

  <script src="static/bower_components/angular/angular.min.js"></script>
  <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="static/js/main.min.js"></script>
</body>
</html>
